/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Config. gerais*/
h2 {
    color: black;
    font-family: "Bebas Neue";
    font-size: 30px;
}

p {
    font-family: "Comfortaa";
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

/*Config. Banner*/
.banner {
    height: 100vh;
    background-image: linear-gradient(180deg, rgba(22, 20, 109, 1) 20%, rgba(68, 64, 255, 0.7584643110173757) 100%), url(img/teamwork-3213924_1920.jpg);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    padding: 20px;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.conteudo-banner {
    height: calc(100vh - 280px);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 50px;
}

.conteudo-banner h2 {
    color: white;
    font-size: 40px;
}

.container-grid a {
    font-family: "Bebas Neue";
    color: white;
    font-size: 30px;
    text-decoration: underline transparent;
    text-decoration-thickness: 2px;
    transition: text-decoration 500ms ease;
}

.container-grid a:hover {
    text-decoration-color: white;
}

.container-grid nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

/*backgroud*/
.backgroud {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.864906888048188) 20%, rgba(255, 255, 255, 0.8032822381882441) 100%), url(img/Firefly\ pontos\,\ circulos\,\ meias\ luas\ 99595\ \(1\)\ 3.png);
    background-repeat: no-repeat;
}

/*Config. Sobre */
#sobre {
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 25%;
}

/*Config. Cases*/
#cases {
    height: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}

.container-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-radius: 50px;
    box-shadow: 5px 5px 10px 0px #000;
    background-color: white;
    padding-top: 30px;
}

.card:hover {
    transform: scale(1.15);
    transition: 750ms;
    transition-delay: 100ms;
    /*Colocar transicão reversa*/
}

.card img {
    height: 45%;
    width: 80%;
    border-radius: 4px 4px 0px 0px;
}

.card button {
    height: 40px;
    width: 90%;
    background-color: gray;
    border: none;
    border-radius: 50px;
    color: white;
    font-family: "Comfortaa";
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 500ms;
}

.card button:hover {
    background-color: #000;
}

/*Config. Contato*/
#contato {
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: 0;
}

#contato h2 {
    padding-bottom: 70px;
}

#contato form {
    width: 50%;
    background-color: white;
    margin: 0 auto;
    padding: 60px 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-family: "Comfortaa";
}

#contato form label {
    margin-bottom: 15px;
    font-size: 17px;
}

.campo {
    width: 60%;
    margin-bottom: 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campo input {
    height: 40px;
    color: white;
    background-color: white;
    border: none;
    border-radius: 50px;
    outline: none;
    text-indent: 10px;
    font-size: 17px;
    font-family: "Comfortaa";
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.campo input:focus {
    outline: 2px solid black;
}

#contato form button {
    width: 250px;
    height: 50px;
    border-radius: 50px;
    background-color: #940303b3;
    color: white;
    cursor: pointer;
    font-family: "Comfortaa";
    font-size: 17px;
}

#contato form button:hover {
    color: black;
}

/*Config. Footer*/
footer {
    height: 275px;
    background-color: #000;
    display: flex;
    align-items: center;
}

.redes-sociais p {
    color: white;
    margin-bottom: 50px;
    border-bottom: 20px;
}

.icones-redes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer.container-grid {
    display: flex;
    align-items: center;
}

.redes-sociais {
    height: 200px;
}


/*Responsividade*/
@media screen and (max-width :1300px) {
    header {
        position: relative;
    }

    header button {
        width: 50px;
        display: none;
        background: none;
        border: none;
    }

    .container-grid button {
        display: none;
    }

    header svg {
        fill: white;
    }

    nav.menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /*align-items: flex-end;*/
        background-color: #000000f0;
        height: 500px;
        width: 350px;
        position: absolute;
        top: 165px;
        right: 0px;
        padding: 0px 30px;
    }

    #sobre {
        padding: 100px 15%;
    }

    .card {
        height: 300px;
        width: 180px;
        text-align: center;
    }

    .card p {
        font-size: 14px;
    }

    #contato form {
        width: 65%;
    }
}

@media screen and (max-width: 1080px) {
    .container-cards {
        flex-wrap: wrap;
    }

    .card {
        height: 325px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 40%;
    }

    footer {
        height: unset;
    }

    footer .container-grid {
        flex-direction: column;
        padding: 80px;
    }

    footer img {
        width: 150px;
        margin-bottom: 100px;
    }

    footer p {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }

    .redes-sociais {
        align-items: center;
    }

    .contato form {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .card {
        flex-basis: 45%;
    }
}

@media screen and (max-width: 640px) {
    #sobre {
        height: unset;
        margin-bottom: 40px;
    }

    #sobre h2 {
        margin-bottom: 50px;
    }

    #sobre p {
        margin-bottom: 30px;
    }

    #cases,
    #contato {
        margin-bottom: unset;
    }

    #portifolio a {
        width: 100%;
        text-align: center;
    }

    .campo,
    .campo-textarea,
    #contato form button {
        width: 75%;
    }
}

@media screen and (max-width: 500px) {
    .container-grid {
        width: 90%;
    }

    header img {
        width: 150px;
    }

    .banner {
        background-size: cover;
    }

    .conteudo-banner p {
        font-size: 24px;
    }

    nav.menu {
        width: 100%;
        display: none;
    }

    #sobre {
        padding-left: 0;
        padding-right: 0;
    }

    #sobre p {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    #cases.container-grid {
        margin: unset;
        width: 100%;
    }

    .container-cards {
        flex-wrap: nowrap;
        gap: 40px;
        overflow: auto;
    }

    .card {
        flex-basis: unset;
        height: 400px;
        width: 280px;
    }

    .card:first-child {
        margin-left: 30px;
    }

    .card:last-child {
        margin-right: 30px;
    }

    #portifolio {
        margin-bottom: 0;
    }

    #contato h2 {
        margin-bottom: 0;
    }

    #contato {
        padding-top: 70px;
        background-color: var(--roxo-gamifica);
        color: white;
    }

    #contato form {
        width: 100%;
        border-radius: 0;
    }
}

@media screen and (max-width: 400px) {
    .conteudo-banner p {
        font-size: 20px;
    }

    header svg {
        width: 40px;
    }

    header img {
        width: 165px;
    }

    footer img {
        width: 200px;
    }
}